/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    overflow-y: scroll;
}

.caption h3 {
    margin: 0;
}

.packages .thumbnail img {
    margin: 15px auto;
    width: 64px;
}

.packages .thumbnail {
    position: relative;
    padding-bottom: 50px;
}

.packages .thumbnail .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.packages .thumbnail .btn:focus {
    background: #38b44a;
}

.navbar-gray {
    background: #eeeeee;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.btn-add-software {
    -webkit-transition: background 0.5s, border-color 0.5s;
    -moz-transition: background 0.5s, border-color 0.5s;
    -ms-transition: background 0.5s, border-color 0.5s;
    -o-transition: background 0.5s, border-color 0.5s;
    transition: background 0.5s, border-color 0.5s;
}

.btn-software-added, .btn-software-added:hover {
    color: #ffffff;
    background-color: #38b44a;
    border-color: #38b44a;
}

h2 {
    margin-top: 0;
}


.masonary {
    -moz-column-width: 12em;
    -webkit-column-width: 12em;
    -moz-column-gap: 0em;
    -webkit-column-gap: 0em;

}

.menu-category {
    display: inline-block;
    margin:  0.25rem;
    padding:  1rem;
    width:  100%;
}

.application-checkbox {
    display: none;
}

footer {
    margin-top: 50px;
}

ul.btn-bottom {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
ul.btn-bottom > li {
    display: inline-block;
}

ul.packets {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

/*.panel-default>.panel-heading {*/
/*background-color: #dd4814;*/
/*color: #fff;*/
/*}*/