{% extends "FlyBundle:Default:index.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <h2>How it started</h2>

                <p>
                    The idea to install applications automatically isn't exactly
                    new as there already exist alternatives as
                    <a href="http://ninite.com">ninite.com</a>
                    . Sadly they don't have that many applications for linux.
                    <br/>
                    <br/>
                    Because of this I created this website to enable newcomers
                    in Linux to install their favorite apps or find new
                    interesting apps.

                </p>


                <h2>What will be next</h2>

                <p>
                    In the near future I will implement the possibility to
                    install vim plugins and to add apache or other configuration
                    heavy configurations.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-12">
                <h1>About fly</h1>

                <p></p>

            </div>
        </div>
    </div>

{% endblock %}
